.ace-github .ace_gutter {
  background: #FBFBFB !important;
}

/* ------------------------------------------------------

 Application

------------------------------------------------------ */

.application-header {
  flex-grow: 0;
  flex-shrink: 0;
}

.application-screen .application-screen-inner {
  /* align-self: center; */
}

.application-copy-to-clipboard {
  border-radius: 4px;
}

.application-buttons > * {
  overflow: hidden;
  border-radius: 50%;
}

/* ------------------------------------------------------

 Screens

------------------------------------------------------ */

.application-screen-inner {
  border-radius: 4px;
  justify-content: space-between;
}

.application-screen-inner > .screen-content {
  flex-grow: 1;
  flex-shrink: 1;
}

.application-screen-inner > .flex-columns {
  flex-grow: 0;
  flex-shrink: 0;
}

.application-screen .screen-locales-tabs > * {
  border-radius: 4px 4px 0 0;
}

.application-table-row > .flex-columns textarea {
  flex: 1 1 auto;
}

.application-table-row > .flex-columns textarea ~ textarea {
  margin-left: 20px;
}

/* ------------------------------------------------------

 Z Indexes

------------------------------------------------------ */

.application-screen {
  z-index: 500;
}

.application-copy-to-clipboard {
  z-index: 600;
}
