.app-toaster-notification {
  z-index: 9999;
  bottom: 0;
  left: 5px;
  right: 5px;
  position: fixed;
  visibility: hidden;
}

.app-toaster-notification > a,
.app-toaster-notification > a:hover,
.app-toaster-notification > a:visited {
  color: white;
  text-decoration: none;
}

.app-toaster-notification > a {
  padding: 20px;
  display: block;
  font-weight: bold;
  text-align: center;
  position: relative;
  border-radius: 4px;
  background: #5CA2EB;
}

/* -------------------------------------------

 States

------------------------------------------- */

.app-toaster-notification.show {
  visibility: visible;
  animation: app-toaster-notifyin 0.5s, app-toaster-notifyout 0.5s 2.5s;
}

/* -------------------------------------------

 Animations to fade the toast notification in and out

------------------------------------------- */
@keyframes app-toaster-notifyin {
    from {bottom: 0; opacity: 0;}
    to {bottom: 50px; opacity: 1;}
}

@keyframes app-toaster-notifyout {
    from {bottom: 50px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
