.tickmark {
  width: 100px;
  display: block;
  margin: 40px auto 0;
}

.tickmark__check {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  stroke-dashoffset: -100;
  animation: tickmark-animation 0.9s 0.35s ease-in-out forwards;
}

@keyframes tickmark-animation {
  0% {
    stroke-dashoffset: -100;
  }

  100% {
    stroke-dashoffset: 900;
  }
}
