.ace-github .ace_gutter {
  background: #FBFBFB !important;
}

/* ------------------------------------------------------

 Application

------------------------------------------------------ */

.application-footer,
.application-header {
  flex-grow: 0;
  flex-shrink: 0;
}

.application-screen {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
}

.application-screen .application-screen-inner {
  /* align-self: center; */
}

.application-copy-to-clipboard {
  border-radius: 4px;
}

.application-buttons > * {
  overflow: hidden;
  border-radius: 50%;
}

/* ------------------------------------------------------

 Popin

------------------------------------------------------ */

.application-popin-inner {
  border-radius: 4px;
  justify-content: space-between;
}

.application-popin-inner > .popin-content {
  flex-grow: 1;
  flex-shrink: 1;
}

.application-popin-inner > .flex-columns {
  flex-grow: 0;
  flex-shrink: 0;
}

.application-popin .popin-locales-tabs > * {
  border-radius: 4px 4px 0 0;
}

/* ------------------------------------------------------

 Z Indexes

------------------------------------------------------ */

.application-popin {
  z-index: 500;
}

.application-copy-to-clipboard {
  z-index: 600;
}
