/* ------------------------------------------------------

 Application

------------------------------------------------------ */

.application {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.application-close-button,
.application-close-button:hover,
.application-close-button:visited {
  color: white;
}

.application-footer,
.application-header,
.application-main-menu {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 10px 32px;
}

.application-popin > .inner {
  border-radius: 4px;
  justify-content: space-between;
}

.application-popin > .inner > .popin-content {
  flex-grow: 1;
  flex-shrink: 1;
  border-radius: 4px;
}

.application-popin > .inner > .flex-columns {
  flex-grow: 0;
  flex-shrink: 0;
}

.application-translations-list {
  flex-grow: 1;
  flex-shrink: 1;
}

/* ------------------------------------------------------

 Z Indexex

------------------------------------------------------ */

.application-popin {
  z-index: 500;
}
