$body-width: 100% !default;
$body-font-size: 16px !default;
$default-padding: 12px !default;

// $BorderStyle: solid;
// $BorderSizes: () !default;
// $BorderRadiusSizes: () !default;

$FontSizes: (
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  18,
  20,
  22,
  24,
  26,
  28,
  32
) !default;
$MarginPaddingSizes: (3, 5, 6, 7, 9, 12, 14, 15, 18, 24, 32, 48) !default;

@import '~@nappr/nappr-styles/styles.scss';
@import url('https://fonts.googleapis.com/css?family=Cuprum');

body,
html {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #34495E;
  font-size: 14px;
  line-height: 1.1em;
  font-family: Cuprum, Tahoma, 'Trebuchet MS', sans-serif;
}

* {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

table {
  border-spacing: 0;
  table-layout: fixed;
  border-collapse: collapse;
}

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:visited {
  color: #1D1F21;
  text-decoration: none;
}

textarea,
input[type="text"] {
  padding: 7px;
  border-radius: 0;
  border: 1px solid #CCCCCC;
}

textarea {
  resize: none;
}

textarea[class^="autosize"] {
  border: 0;
  outline: none;
  overflow: hidden;
  padding: 20px 10px;
}

textarea,
input[type="text"] {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

button,
button[type="submit"] {
  border: 0;
  outline: 0;
  color: white;
  cursor: pointer;
  padding: 0.8em 12px;
}

button[type="submit"] {
  background: rgba(128, 194, 23, 1);
}

[class^="icon-"] + span {
  margin-left: 7px;
}

/* ---------------------------------------------------

 Table

--------------------------------------------------- */

.table-cell-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* ---------------------------------------------------

 Shadows

--------------------------------------------------- */

.shadow-bottom {
  z-index: 5;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}

.shadow-top {
  z-index: 5;
  box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.25);
}

.shadow-around {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

/* ---------------------------------------------------

 Flex

--------------------------------------------------- */

.flex-display {
  display: flex;
}

.flex-columns {
  flex-direction: row;
}

.flex-rows {
  flex-direction: column;
}

.flex-rows,
.flex-columns {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.flew-wrap {
  flex-wrap: wrap;
}

.flew-no-wrap {
  flex-wrap: nowrap;
}

.flex-centered {
  align-items: center;
  justify-content: center;
}

.flex-align-end {
  align-items: flex-end;
  justify-content: flex-end;
}

.flex-align-start {
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-no-grow {
  flex-shrink: 0;
}

.flex-no-shrink {
  flex-shrink: 0;
}

.flex-grow-and-shrink {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
}

.flex-no-grow-no-shrink {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
}

.flex-responsive-child {
  flex: 1 1 auto;
}

/* ---------------------------------------------------

 Containers

--------------------------------------------------- */

.absolute-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

/* ---------------------------------------------------

 Imports

--------------------------------------------------- */

@import url('./css/fontello.css');
@import url('./css/react-select.css');

/* @import url('./css/toaster-notification.css'); */
