$font: helvetica, arial, verdana, sans-serif;

/*
$font: 'Roboto', -apple-system, blinkmacsystemfont, segoe ui, roboto, noto sans, ubuntu, droid sans, helvetica neue, sans-serif;
*/
* {
  outline: none;
}

html {
  min-height: inherit;
}

b,
strong {
  font-weight: bold;
}

em,
small {
  font-style: italic;
}

input,
textarea,
button,
body {
  font-size: 14px;
  line-height: 1.1em;
  font-family: $font;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  /* Icone */
  background:
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='currentColor'><polygon points='0,0 100,0 50,50'/></svg>")
    no-repeat;
  background-size: 10px;
  background-position: calc(100% - 13px) 18px;
  background-repeat: no-repeat;

  /* and then whatever styles you want */
  height: 36px;
  line-height: 36px;
  padding: 5px;
}

button {
  font-family: $font;
  border-radius: 4px;

  &:disabled {
    opacity: 0.45;
  }
}

input,
textarea {
  font-family: $font;
}

// input:focus {
//   outline: none !important;
//   border: 1px solid #719ECE;
//   box-shadow: 0 0 10px #719ECE;
// }

// textarea,
// input[type="text"] {
//   padding: 7px;
//   border-radius: 0;
//   border: 1px solid #CCCCCC;
// }

// textarea {
//   resize: none;
// }

// textarea[class^="autosize"] {
//   border: 0;
//   outline: none;
//   overflow: hidden;
//   padding: 20px 10px;
// }
//
// textarea,
// input[type="text"] {
//   font-family: Consolas, Monaco, 'Andale Mono', monospace;
// }

// button,
// button[type="submit"] {
//   border: 0;
//   outline: 0;
//   color: white;
//   cursor: pointer;
//   padding: 0.8em 12px;
// }

// button[type="submit"] {
//   background: rgba(128, 194, 23, 1);
// }

// [class^="icon-"] + span {
//   margin-left: 7px;
// }
