@import 'variables';
@import '~@nappr/nappr-styles/styles.scss';
@import 'html';
@import 'shadows';
@import 'scrollbars';
@import './vendors/';
@import './animated/';

body {
  color: #484848;
  background: #ffffff;
}

a,
input,
button {
  color: #484848;
}

.debug {
  border: 1px solid #000000;
  background: rgba(172, 229, 57, 0.15);
}

.ff-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.ff-roboto {
  font-family: 'Roboto', sans-serif;
}

.ff-lobster {
  font-family: 'Lobster', sans-serif;
}

.is-medium {
  font-weight: 500;
}

#root {
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;
}
