@import '_variables';
@import '~@nappr/nappr-styles/styles.scss';
// @import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import '_html';
@import '_shadows';
@import '_fontello';
@import '_toastify';
@import '_scrollbars';

* {
  outline: none;
}

.debug {
  border: 1px solid #000000;
  background: rgba(172, 229, 57, 0.15);
}

.use-lobster {
  font-family: 'Lobster', cursive;
}

.ace_scrollbar.ace_scrollbar-h {
  overflow-x: hidden !important;
}

.ace_scroller.ace_scroll-left {
  box-shadow: none !important;
}

#root {
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;
}
